* {
    box-sizing: border-box;
}
:root {
    --color-1: #5dbcf7;
    --color-2: #444049;
    --color-3: #D94343;
    --accent1: rgb(121, 45, 221);
    --accent2: rgb(221, 118, 45);
}

body {
    display: flex;
    font-size: 62.5%;
    color: var(--white);
    text-align: center;
    margin: 0;
    height: 100% ;
    color: white;
    text-align: center;
font-family: 'Roboto', sans-serif;
}

#root {
    position: relative;
}
.master-container {
    position: relative;
    background: rgb(233,182,182);
background: linear-gradient(0deg, rgba(233,182,182,1) 0%, rgba(93,188,247,1) 68%);
}

h1, h2, h3 {
    text-shadow: 0 0 3px black;
    margin: 0;
}

a {
    text-decoration: none;
}
a h1 {
    color: white;
    font-size: 6.5rem;
}
p, li {
    font-size: 1.5rem;
}
h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.list-item {
    max-width: 20rem;
    min-width: 10rem;
    margin: 0.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background: var(--color-3);
    border-radius: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-width {
    width: 100%;
    text-align: center;
}

.section-header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}
.section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.underline {
    border-bottom: 2px solid black;
    padding: 0 1rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 1 1rem;
    flex-wrap:wrap;
    
}

h1 {
    font-size: 5rem;
    text-shadow: 0px 0px 2px 4px black;
    margin-bottom: 0.3rem;
    padding: 1.5rem 1rem;
    margin-left: 1rem;
}
main {
    
}

.nav {
    margin-left: 5.5rem;
    display: none;
    width: 50%;
}
.nav-list {
    align-items: center;
    list-style: none;
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-around;
    display: none;
}

.nav-list-item {
    text-decoration: none;
    font-size: 1.7rem;
    margin: 0 .8rem;
}
.anchor-link {
    color: white;
    padding: .4rem 2rem;
    font-size: 2rem;
    border-radius: 20px;
    background: var(--color-2);
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}
.anchor-link:hover {
    transition: 200ms;
    opacity: .6;
}
/* About style begin */
.about-text {
    font-size: 1.7rem;
    padding: 2rem;
    text-align: center;
    margin-top: 0;
    text-indent: 2rem;
}
.download-link {
    color: var(--color-3);
}
.download-link:hover {
    background: var(--color-3);
    color: white;
    border-radius: 20px;
    transition: 200ms;
    padding: .2rem 2rem;
}
.pete-img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-top: 1rem;
}
.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
}
.flush {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}
.skills-list {
    text-align: center;
    list-style: none;
    padding: 0  ;
}
.skills-list li {
    font-size:  1.6rem;
}
.container {
    justify-content: space-around;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.column {
    flex-direction: column;
}
/* Project styles */
.grid-container {
    text-align: center;
    width: 100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.3rem;
    row-gap: 1.3rem;
    max-width: 100%;
    margin: 1rem 1rem 4rem;
    position: relative;
  
}
.tech-grid {
    justify-items: center;
    
    align-items: center;
    max-width: 50%;
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;
    row-gap: 1.3rem;
    max-width: 100%;
    margin: 1rem 1rem 4rem;
    position: relative;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    border-radius: 18px;
    background-image: url(../src/assets/images/loops-img.jpg);
    background-size: cover;
    animation: float 3s ease-in-out both infinite;
    max-height: 500px;
    overflow: hidden;
    background-color: var(--color-3);
    box-shadow: rgba(0, 0, 0, 0.35) -1px 3px 5px 3px;
}
@keyframes float {
    100% {
        transform: scale(100%);
    }
    50% {
        transform: scale(100.8%);
    }
}
.project-background {
    height: 200%;
    z-index: -1;
    filter: blur(7px);
}

.project-container:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-contents {
    z-index: 2;
    position: absolute;
}

.project-img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.project-title {
    margin: 0 0 0.5rem;
    text-shadow: 
    -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 
    -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;    text-align: center;
    padding: 0 4rem;
}

.project-links {
    border-radius: 20px;
    background: var(--color-3);
    color: var(--white);
    padding: 0.5rem 4rem;
    font-size: 1.4rem;
    border: 2px solid var(--white);
    margin: 0.3rem 0;
    margin: 0 2rem 1rem;
    width: 80%;
}

.project-links:hover {
    opacity: .7;
    background-color: var(--color-1);
    transition: .4s ease-in;
}
.modalBackdrop {
    position:  sticky;
    overflow: scroll;
    width: 100%;
    transition: 1s;
    border-radius: 70px;
    border: 5px solid white;
    background: rgb(54,123,167);
    height: auto;

    bottom: 0;
    z-index: 2;
    top: 0;
}
.modalOpen {
    animation: modal 0.2s ease-out both;
    box-shadow: rgb(38, 57, 77) 0px 20px 100px -50px;
}
.modalClose {
    animation: modalClose 0.2s ease-out both;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(0);
}

@keyframes modal {
    100% {
        transform: scale(80%);
    }
    0% {
        transform: scale(0%);
    }
}

@keyframes modalClose {
    100% {
        transform: scale(0%);
    }
    0% {
        transform: scale(80%);
    }
}


.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 100%;
    z-index: 3;
    
}
.modal-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.modal__img {
  max-width: 35%;
  border-radius: 10px;
}
.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalTitle {
    padding: 2rem 0 1rem;
    font-size: clamp(2.5rem, 5vw, 6rem);
}
.modal__subheader {
    font-size: clamp(2.5rem, 5vw, 4.5rem);

}
.description-text {
    padding: 1rem 4rem;
    font-size: 1.4rem;
}

/* Resume style begin */

.proficiencies-container {
    text-align: center;
    padding: 3rem;
}
.proficiencies-header {
    text-shadow: 0px 0px 2px var(--secondary);
    font-size: 2.1rem;
}
.list {
    width: 100%;
}
.proficiencies-list {
    padding: 0;
    padding-center: 2rem;
    text-align: center;
}

.proficiencies-list-item {
    font-size: 1.7rem;
    padding: 0.2rem 0;
}

.download-btn {
    font-size: 2rem;
    text-decoration: none;
}
.btn {
    font-size: 2rem;
    border-radius: 25px;
    color: white;
    padding: 0.4rem 2rem;
    width: 20rem;
}
.btn:hover {
    cursor: pointer;
    background: var(--color-1);
    transition: .4s;
}

.close-btn {
    position: absolute;
    right: 30px;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    font-size: 3rem;
}

/* Contact style begin */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-element-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.form-input {
    border-radius: 20px;
    padding: 0.2rem 0.8rem;
    font-size: 1.5rem;
    border: 1px solid var(--secondary);
    margin-bottom: 1rem;
}

.form-submit-btn {
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: var(--white);
    border: 1px solid var(--secondary);
    width: 30%;
    padding: 0.3rem;
}
.form-submit-btn:hover {
    cursor: pointer;
    background-color: var(--tertiary);
    color: var(--white);
}

.error-text {
    font-size: 2rem;
}

/* Contact style end */

/* Footer style begin */
.footer {
    color: var(--secondary);
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    height: 8rem;
    bottom: 0;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.icon-container {
    height: 100%;
    width: 100%;
}
.icon-container:hover {
    color: var(--color-3);
    opacity: .4;
    transition: 0.4s;
}
.icon {
    height: 75px;
    margin-center: 2rem;

    fill: pink;
    margin: 0;
}
.email-icon {
    height: 95px;
    width: 90px;
}

.icon:hover {
    font-size: 20rem;
}

@media screen and (min-width: 540px) {
    .project-container {
    }
}
@media screen and (min-width: 768px) {
    .header {
        justify-content: center;
    }
    h1 {
        padding: 1.5rem 1rem 1rem;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-container {
    }
    .nav {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .nav-list {
        justify-content: center;
        align-items: center;
    }
    .icon-container {
        height: 100%;
    }
}
@media screen and (min-width: 1080px) {
    h1 {
        font-size: 7rem;
    }
    .section-header {
        font-size: 6rem;
    }
    h3 {
        font-size: 4rem;
    }
    .nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 3;
    }
    .header {
        justify-content: space-around;
    }
    .nav-list {
        display: flex;
    }
    .anchor-link {
        margin-bottom: 0;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .about-text {
        text-align: center;
        font-size: 2.5rem;
    }
    .pete-img {
        margin-left: 2rem;
        width: 40%;
    }
    .skills-list li {
        font-size: 2.2rem;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .skills-container {
        flex-direction: column;
    }
    .container {
        flex-direction: row;
    }
    .modal-wrapper {
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    .anchor-link {
        margin-left: 5rem;
    }
 
}
@media screen and (min-width: 1440px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .section-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 1.5rem;
    }
    .grid-container {
        width: 100%;
    }
    .wrapper {
      width: 45%;
    }
    .about-container {
        width: 45%;
    }
    .project-container {
        transition: 0.8s;
    }
    .anchor-link {
        margin-left: 12rem;
    }
    .modal-wrapper {
        flex-direction: column;
    }
}