* {
    box-sizing: border-box;
}


body {
    display: flex;
    color: white;
    background: salmon;
}

a {
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.nav-list {
    display: flex;
    list-style: none;  
    padding: 0;  
;}

.nav-list-item {
    text-decoration: none;
}

/* Project styles */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 60vh;
    column-gap: 10px;
    row-gap: 10px;

}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    border-radius: 20px;
    height: 500px;
}

.project-container:hover {
    transform: translatey(-1%);
    transition: .5s;
    cursor: pointer;
}

.project-img {
    max-width: 200px;
}


.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer-list {
    list-style: none;
    padding: 0;
}